<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div id='<%= htmlWebpackPlugin.options.mount %>'></div>
	</body>
</html>
